<div class="py-20 bg-white dark:bg-gray-800">
  <div class="container mx-auto px-6 text-center">

    <div id="ourSuccess" class="grid grid-cols-1 md:grid-cols-3 gap-20 max-w-6xl mx-auto">

      <div class="flex flex-col items-center">
        <span #count data-target="10000" data-suffix="k"
              class="font-bold mb-3 text-[#4A3ADF] text-[36px] leading-[1]">
          0
        </span>
        <span class="uppercase tracking-wider font-medium text-[#64748B] dark:text-gray-400 font-size-12">
          Active Students
        </span>
      </div>

      <div class="flex flex-col items-center">
        <span #count data-target="500" data-suffix="+"
              class="font-bold mb-3 text-[#4A3ADF] text-[36px] leading-[1]">
          0
        </span>
        <span class="uppercase tracking-wider font-medium text-[#64748B] dark:text-gray-400 font-size-12">
          Expert Mentors
        </span>
      </div>

      <div class="flex flex-col items-center">
        <span #count data-target="300" data-suffix="+"
              class="font-bold mb-3 text-[#4A3ADF] text-[36px] leading-[1]">
          0
        </span>
        <span class="uppercase tracking-wider font-medium text-[#64748B] dark:text-gray-400 font-size-12">
          Premium Courses
        </span>
      </div>

    </div>
  </div>
</div>
