@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-fade-right {
  animation: fadeInRight 1s ease-out forwards;
}

.opacity-0 {
  opacity: 0;
}
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.z-20 {
  animation: floating 3s ease-in-out infinite;
}
